public net.minecraft.data.worldgen.biome.OverworldBiomes calculateSkyColor(F)I
public net.minecraft.world.level.biome.Biome$ClimateSettings

public-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator
public-f net.minecraft.world.level.chunk.ChunkGenerator
protected-f net.minecraft.world.level.levelgen.NoiseBasedChunkGenerator createNoiseChunk(Lnet/minecraft/world/level/chunk/ChunkAccess;Lnet/minecraft/world/level/StructureManager;Lnet/minecraft/world/level/levelgen/blending/Blender;Lnet/minecraft/world/level/levelgen/RandomState;)Lnet/minecraft/world/level/levelgen/NoiseChunk;

public-f net.minecraft.client.OptionInstance$ValueSet
public-f net.minecraft.client.OptionInstance$SliderableValueSet
public-f net.minecraft.client.OptionInstance$IntRangeBase

#? if >=26.2 {
#public-f net.minecraft.core.Holder
#? }

public-f net.minecraft.world.level.levelgen.carver.WorldCarver getCarveState(Lnet/minecraft/world/level/levelgen/carver/CarvingContext;Lnet/minecraft/world/level/levelgen/carver/CarverConfiguration;Lnet/minecraft/core/BlockPos;Lnet/minecraft/world/level/levelgen/Aquifer;)Lnet/minecraft/world/level/block/state/BlockState;

public net.minecraft.world.level.levelgen.carver.CaveCarverConfiguration floorLevel

public net.minecraft.world.level.levelgen.NoiseChunk cachedClimateSampler(Lnet/minecraft/world/level/levelgen/NoiseRouter;Ljava/util/List;)Lnet/minecraft/world/level/biome/Climate$Sampler;

public net.minecraft.world.level.levelgen.SurfaceRules$Context
public net.minecraft.world.level.levelgen.SurfaceRules$Condition

#? if >=26.2 {
#public net.minecraft.world.level.levelgen.NoiseRouterData$QuantizedSpaghettiRarity
#? } else {
public net.minecraft.world.level.levelgen.DensityFunctions$WeirdScaledSampler
public net.minecraft.world.level.levelgen.DensityFunctions$WeirdScaledSampler <init>(Lnet/minecraft/world/level/levelgen/DensityFunction;Lnet/minecraft/world/level/levelgen/DensityFunction$NoiseHolder;Lnet/minecraft/world/level/levelgen/DensityFunctions$WeirdScaledSampler$RarityValueMapper;)V
#? }
public net.minecraft.world.level.levelgen.DensityFunctions$BeardifierMarker
